* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.App-header {
  background-color: #121418;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 44px 5%;
  color: white;
}
